@media (prefers-color-scheme: dark) {
  :root {
    color: #fff;
    background-color: #000;
  }
}

body {
  font-family: system-ui, sans-serif;
  margin: 2em;
}

input {
  font-size: inherit;
  display: block;
  margin-top: 1rem;
}

input:after {
  content: attr(data-value);
  font-size: 1rem;
  position: relative;
  right: -1rem;
}

label {
  margin-left: 1rem;
}
